/* TODOS */

header {
    display: flex;
    justify-content: flex-start;

}

/* Index */

#logoindex {     
    display: none;    
}


#tituloindex {
        text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin: auto;
    color: white;
    text-align: center;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;  */

    font-size: 45px;
    -webkit-text-stroke: 1px black;
    color: white;
    
    width: 65%;
    background: #6778e4;
    opacity: .9;
    /* transparencia */

}


#cuerpoprincipal {
    background-repeat: no-repeat;
    background-size: cover;

}


#contenidos {
    color: white;
    text-align: center;
    font-size: 45px;
    /* background: #6778e4;
    opacity: .9;     */
    margin: auto;
    

}

.imagenes_index {
    width: 300px;
    height: 200px;
    float: left;
    margin: 1em;


}


#parrafofooter_index {
    text-align: center;
    color: white;
    font-size: xx-large;
    margin-bottom: 0;

}


/* Hardware y software*/

#logo {
    height: 133px;
    width: 133px;

}

#titulologo {
    margin: auto;
    margin-top: 1em;
    display: inline;
}

#jovenjugando {
    width: 50%;
    height: 50%;
    margin-left: 25%;

}

#procesador {
    margin-left: 25%;
    margin-top: 2px;
    width: 50%;
    height: 50%;
}


/* HTML */

#imagen_html {
    width: 50%;
    height: 50%;
    margin-left: 23%;
}

#logohtml {
    height: 100%;
    width: 100%;
    max-width: 250px;
}

.parrafoSangria_dt {
    padding-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.parrafoSangria_dd {
    padding-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

.parrafoSangria_dl {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;

    /* no funciona*/
}

.parrafoSangria_li {
    padding-left: 2%;
}

.sangria_label {
    padding-left: 2%;
}

.sangria_input {
    padding-left: 2%;
}

.sangria_select {
    padding-left: 1%;
}

.sangria_option {
    padding-left: 3%;
}

/* Hoja de estilo en cascada*/

.SpanSangria1 {
    padding-left: 1%;
}

.SpanSangria2 {
    padding-left: 2%;
}

.subrayado {
    text-decoration: underline;
}

#logocss {
    height: 100%;
    width: 100%;
    max-width: 250px;
}


/* Visual Basic 6.0 */

table,
th,
tr,
td {
    border: 1px solid black;
    text-align: center;
}

#logovisualbasic {
    height: 20%;
    width: 20%;
}

#titulovisualbasic {
    margin: auto;
}

.links {
    list-style: none;
    display: inline;
    margin-left: 1%;
}

.primerlink {
    list-style: none;
    display: inline;

}

/* Ejercicios Programacion */

#ejerciciosProgramacion {
    width: 50%;
    height: 50%;
    /* background-color: aqua; */
    float: left;
}

#publicidadEjerciciosProgramacion {
    margin-top: 10%;
    width: 50%;
    height: 50%;
    /*  background-color: blueviolet; */
    float: right;

}

#imagen_idea {

    margin-left: 28%;
    width: 50%;
    height: 50%;
}



/* Excel */

#parrafodeflotado {
    float: left;
}

#logoexcel {
    height: 100%;
    width: 20%;
    max-width: 700px;
    min-width: 100px;
    margin-top: 2.5%;

}

/* .linksExcel:hover {
    color: aqua;
    
} */

.linksExcel {
    list-style: none;
    display: inline;
    margin-left: 1%;
}

#tituloexcel {
    margin: auto;
    font-size: 70px;
}

.rango {
    color: blue;
    text-decoration: underline;
}

.criterio {
    color: red;
    text-decoration: underline;
}

.rango_suma {
    color: black;
    text-decoration: underline;
}

.tablaexcel {
    width: 300px;
}

.negritaColumna {
    font-weight: bold;
}

.colomnaB {
    width: 100px;
}

.verdadero {
    color: blue;
}

.falso {
    color: red;
}



/* Redes sociales */

#logoredsocial {
    height: 10%;
    width: 20%;

}

#tituloredsocial {
    margin: auto;
    color: white;
    -webkit-text-stroke: 2px;
    font-size: 50px;
}

#video_redesSociales {
    width: 100%;
    height: 480px;
    max-width: 640px;
}




/* Word */

#logoword {
    height: 100%;
    width: 20%;
    max-width: 700px;
    min-width: 100px;
    margin-top: 2.5%;
}

#tituloword {
    margin: auto;
    font-size: 70px;
}

#pensandoenword {
    height: 70%;
    width:  70%;       
}

.margenHaciaAbajo{
    margin-bottom: 5px;
}


/* Power Point */

#logopowerpoint {
    height: 100%;
    width: 20%;
    max-width: 700px;
    min-width: 100px; 
    margin-top: 2.5%;
}

#titulopowerpoint {
    margin: auto;
    font-size: 40px;
    text-align: center;
}

#foto-exposicion {
    height: 100%;
    width: 100%;
    max-width: 640px;
}

/* C++ */ 

#logoCmasmas {
    height: 100%;
    width: 20%;
    max-width: 700px;
    min-width: 100px;
    margin-top: 2.5%;

}


.linksCmasmas {
    list-style: none;
    display: inline;
    margin-left: 1%;
}

#tituloCmasmas {
    margin: auto;
    font-size: 70px;
}

/* Arduino */ 

.linksArduino {
    list-style: none;
    display: inline;
    margin-left: 1%;
}

#tituloArduino {
    margin: auto;
    font-size: 70px;
}

#logoArduino {
    height: 100%;
    width: 20%;
    max-width: 700px;
    min-width: 100px;
    margin-top: 2.5%;

}
